.cajaTexto{
    height:30px;
    width:300px;
    border-radius:5px;
    border:1px solid;
    margin:5px;
}
.cajaFecha {
    height: 30px;
    width: 150px;
    border-radius: 2px;
    border: 1px solid;
    margin: 5px;
}
.formulario {
    position: center;
    top: 20%;
    left: 20%;
    margin-top: 50px;
    margin-left: -50px;
    padding: 50px;
    background-color: #ECECEC;
    border-radius:10px;
}

table.GridView th {
    border-bottom: 1px solid #f1f1f1;
    text-decoration: none;
}

table.GridView tr:hover {
    background-color: #d5d5d5;
    cursor:pointer;

}

table.GridView {
    margin-left: auto;
    margin-right: auto;
    width:180%;
}
.buscador{
    height:35px;
    width:100%;
    border-radius:4px;
    margin:10px;
}
.ddl{
    margin:25px;
    height:35px;
    border-radius:4px;
}
.total{
    color:green;
    font-size:16px;
}
.apartado{
    margin:10px;
    font-size:20px;

}
.btn1 {
    background-color: black;
    margin-top: 10px;
    border: none;
    color: white;
    padding: 10px 25px;
    font-size: 20px;
    border-radius:10px;
}